.caro-wrapper {
  width: 100% !important;
  padding: 7rem 0 7rem 0;
}

.hero {
  object-fit: cover;
  width: 100% !important;
  height: 70% !important;
}

.text {
  margin-left: 50px;
}

.hero {
  width: 1200px;
}

@media screen and (max-width: 960px) {
  .caro-wrapper {
    padding: 4rem 0 4rem 0;
  }
}
@media screen and (max-width: 425px) {
  .caro-wrapper {
    padding: 0;
  }
}
