.access-container {
  margin: 3rem;
  display: flex;
  flex-wrap: nowrap;
  width: auto;
  justify-content: center;
  align-items: center;
}

.text-container {
  width: auto;
  margin-right: 3rem;
}

.text-container > h1 {
  font-weight: bolder;
}

.map {
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
  object-fit: contain !important;
}

.access {
  padding: 5rem;
  background: #fff;
  margin-bottom: 0;
  margin-top: 10;
}

.marker {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 100%;
  user-select: none;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 768px) {
  .access-container {
    display: flex;
    flex-wrap: wrap;
  }
  .text-container {
    margin-right: 0rem;
    margin-bottom: 5%;
  }

  #access {
    padding: 30px;
  }
}

@media only screen and (max-width: 425px) {
  .access-container {
    margin-bottom: 400px;
  }

  .text-container {
    margin-bottom: 60px;
  }

  /* #access {
    width: 100%;
    background: #fff;
    margin-top: -90px;
  } */

  .map {
    position: relative !important;
    width: 50% !important;
    height: 40% !important;
    object-fit: contain !important;
  }

  .snsicons {
    font-size: 20px;
  }
  .icons {
    font-size: 20px;
  }

  .text-container > h2 {
    font-size: 14px;
  }
  #access.block-featureblock {
    height: auto;
    margin-bottom: 300px;
    margin-top: -30px;
  }
}

@media only screen and (max-width: 320px) {
  .title-container > #access {
    border: 3px solid red;
  }
}
