.component-block {
  padding-left: 3rem;
  align-content: center;
}
.block-wrapper {
  padding: 3rem;
  height: auto;
  line-height: 1.6;
}

.title-container {
  margin: 0.5rem;
  margin-top: 10;
  text-align: center;
}

.profile {
  width: 200px;
}

.intro-container {
  margin: 3rem 0;
  display: flex;
  flex-wrap: nowrap;
  width: auto;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.intro-container > .profile {
  width: 20%;
  height: 20%;
}
