.component-block {
  padding: 3rem;
  align-content: center;
}
.block-wrapper {
  padding: 3rem;
  height: auto;
  line-height: 1.6;
}

.title-container {
  margin: 1rem;
  margin-top: 10;
  margin-bottom: 2rem;
  text-align: center;
}

.intro-container {
  margin: 3rem 0;
  display: flex;
  flex-wrap: nowrap;
  width: auto;
  justify-content: center;
  align-items: center;
  /* padding: 5rem; */
}

.intro-container > .profile {
  width: 20%;
  height: 20%;
}

@media screen and (max-width: 425px) {
  .intro-container {
    flex-wrap: wrap;
    text-align: center;
    margin: 0rem;
  }

  .intro-container > .profile {
    width: 60%;
  }
  .text {
    margin-left: 0;
  }
}
